{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8">
    <div class="content-section">
      <form method="POST" action="" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Add a new book</legend>
              <div class="form-group mt-4">
                  {{ form.book_name.label(class="form-control-label mb-2") }}
                  {% if form.book_name.errors %}
                      {{ form.book_name(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.book_name.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.book_name(class="form-control form-control-lg") }}
                  {% endif %}
              </div>
              <div class="form-group mt-4">
                  {{ form.book_file.label() }}
                  {{ form.book_file(class="form-control-file") }}
                  <br>
                  {% if form.book_file.errors %}
                      {% for error in form.book_file.errors %}
                          <span class="text-danger">{{ error }}</span></br>
                      {% endfor %}
                  {% endif %}
              </div>
          </fieldset>
          <div class="form-group mt-4">
              {{ form.submit(class="btn btn-outline-success") }}
          </div>
      </form>
    </div>
  </div>
  <div class="col-md-4">
    <div class="content-section">
      <h3>Your Book Collection</h3>
    {% if books_user %}
    <p class='text-muted'>You can put any information here you'd like.
    <ul class="list-group">
        {% for book in books_user  %}
        <li class="list-group-item list-group-item-light">
            <a href="{{ url_for('static', filename='books/' + book.book_file) }}">
                {{ book.book_name }}
            </a>
        </li>
        {% endfor %}
    </ul>
    </p>
    {% endif %}
      
      
    </div>
  </div>

</div>
{% endblock %}
