{% extend "base.html"% }
{% block sidebar %}
<div class="area">
    <nav class="main-menu">
            <ul>
                <li>
                    <a href="https://jbfarrow.com">
                        <!-- <i class="fa fa-home fa-2x"></i> -->
                        <i class="fa fa-solid fa-house fa-2x"></i>
                        <span class="nav-text">
                            Home
                        </span>
                    </a>
                
                </li>
                <li class="has-subnav">
                    <a href="#">
                        <!-- <i class="fa fa-globe fa-2x"></i> -->
                        <i class="fa fa-solid fa-note-sticky fa-2x"></i>

                        <span class="nav-text">
                            Notes
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                        <!-- <i class="fa fa-comments fa-2x"></i> -->
                        <i class="fa fa-solid fa-list-check fa-2x"></i>
                        <span class="nav-text">
                            Tasks
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-solid fa-school fa-2x"></i>
                        <span class="nav-text">
                            Student space
                        </span>
                    </a>
                    
                </li>
                <!-- <li>
                    <a href="#">
                        <i class="fa fa-film fa-2x"></i>
                        <span class="nav-text">
                            Not Ready
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-book fa-2x"></i>
                        <span class="nav-text">
                            Not Ready
                        </span>
                    </a>
                </li> -->
                <li>
                    <a href="#">
                        <i class="fa fa-cogs fa-2x"></i>
                        <span class="nav-text">
                            Settings
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Locations
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            About
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                    <a href="#">
                        <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
</div>
{% endblock sidebar %}